.form {
  margin-bottom: 2rem;

  .input {
    border: none;
    background: #f6f6f6;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding: 0.25rem 0.5rem;
    transition: 300ms ease;
    width: 90%;

    &:focus {
      background: #f0f0f0;
      outline: none;
    }

    &:hover {
      background:#f0f0f0;
    }
  }

  .btn {
    margin-left: 1rem;
  }
}